<div class="page-header">
  <h3>My Likes</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Caption</th>
        <th>Image</th>
      </tr>


      <% @user.liked_photos.each do |liked_photo| %>
      <tr>
        <td><%= liked_photo.caption %></td>
        <td><%= liked_photo.image %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
